extends layout

block content
	.container
		h1 Applicants
		ul
			for applicant in applicants
				li
					h6 Name : #{applicant.name}
					h6 Bio : #{applicant.bio}
					h6 Skills : #{applicant.skills}
					h6 Experience : #{applicant.years}
					h6 Reasons : #{applicant.why}